body{
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;	
}

.corpo{
	margin:0 auto;
	width:980px;
	min-height:700px;
}

.corpo #img_corpo_home{
	margin-top:45px;
	margin-left:20px;
	width:928px;
	height:127px;
	background:url(../img/corpo_loja.png);	
}

.corpo #img_corpo_home #arrecadacao_mes{
	margin-left:470px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#555;
        width: 450px;
        position: absolute;
        top: 192px;
}

.corpo #faixa{
	margin-top:45px;
	margin-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
}

.corpo #contexto{
	margin-left:20px;
	width:926px;
	height:180px;
	background:#F9F9F9;	
        border-left: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
        border-right: 1px solid #EAEAEA;
}

.corpo #contexto #conteudo{
	padding:42px;
	margin-left:-28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
	color:#333;
}

.caixa{
	width:600px;	
	height:25px;
	border:1px solid #CCC;
        -moz-border-radius: 7px;  /*-- para Firefox e Flock --*/
        -webkit-border-radius: 7px;  /* para Chrome e Safari --*/
        border-radius: 7px;
}

.btn_enviar{
	margin-left:181px;
        margin-top: -10px;
}

.btn_cancel{
	margin-left:8px;
        margin-top: -10px;
}